$black: rgb(15, 15, 15);
$white: rgb(240, 240, 240);

body:has(#konsoleInput:focus)
{
    .Konsole
    {
        // opacity: 1;

        pre.KonsoleLine:last-of-type span.KonsoleLineText
        {
            animation: KaretBlink 800ms steps(2) infinite;
        }
    }
}

.Konsole
{
    user-select: none;
    // opacity: 0.8;

    & *
    {
        pointer-events: none !important;
    }

    a
    {
        pointer-events: all !important;
        color: $black;
        text-decoration: none;
        border-bottom: 2px solid $black;
        // padding-bottom: 2px;

        &:hover
        {
            border-bottom-style: dashed;
        }
    }

    &.dark
    {
        color: $white;

        a
        {
            color: $white;
            border-color:  $white;
        }
        
        pre.KonsoleLine:last-of-type span.KonsoleLineText
        {
            border-right-color: $white;
        }
    }

    // &:focus, &:has(#konsoleInput:focus)
    // // &.active
    // {
    //     opacity: 1;

    //     pre.KonsoleLine:last-of-type span.KonsoleLineText
    //     {
    //         animation: KaretBlink 800ms steps(2) infinite;
    //     }
    // }
    
}


#konsoleInput
{
    background: transparent;
    border: none;
    outline: none;
    color: white;

    position: absolute;
    opacity: 0;

    // &:focus
    // {
    //     background-color: red;
    // }
}

pre.KonsoleLine
{
    margin: 10px 0;
    word-break: break-all;
    white-space: pre-wrap; // need research on this

    &:last-of-type span.KonsoleLineText
    {
        border-right: 10px solid $black;
        padding-right: 2px;
        // animation: KaretBlink 800ms steps(2) infinite;

    }
}

pre.KonsolePara
{
    margin: 5px 0;
}


@keyframes KaretBlink {
    to{
        // border-right-color: transparent;
        border:none;
    }
}

.KonsoleChoice
{
    list-style-type: circle;
}

.KonsoleChoice li.active
{
    list-style-type: disc;
}